$color-backgroud = #090702
$color-backgroud-high = rgb(40, 39, 53)
$color = #c5c1b9
$color-low = #c5e1b9
$theme = #008c8c
// $color-backgroud = pink
// $color-backgroud-high = rgb(254, 212, 226)
// $color = #333
// $color-low = #666
// $theme = #008c8c